<h1>Add new listing:</h1>

<form ng-submit="hc.addHome()">
    <input type="number" placeholder="Cost" ng-model="hc.cost">
    <br>
    <input type="number" placeholder="Sqft" ng-model="hc.sqft">
    <br>
    <input type="text" placeholder="City" ng-model="hc.city">
    <br>
    <input type="text" placeholder="Sale or Rental?" ng-model="hc.type">
    <br>
    <input type="text" placeholder="Image_path" ng-model="hc.image_path">
    <br>
    <input type="submit" value="Add new Listing">
</form>

<!-- <h3 ng-repeat="home in hc.listings">
    <p>{{home.cost}}</p>
    <p>{{home.sqft}}</p>
    <p>{{home.city}}</p>
    <p>{{home.type}}</p>
</h3> -->