<h1>Add new listing:</h1>

<form ng-submit="hc.addHome()">
    <input type="number" placeholder="Cost" ng-model="hc.cost">
    <br>
    <input type="number" placeholder="Sqft" ng-model="hc.sqft">
    <br>
    <input type="text" placeholder="City" ng-model="hc.city">
    <br>
    <select ng-model="hc.type">
        <option>sale</option>
        <option>rent</option>
    </select>
    <br>
    <select ng-model="hc.image_path">
        <option value="classic-flats.jpg">Classic-flats</option>
        <option value="haunted.png">Haunted</option>
        <option value="older.jpg">Older</option>
        <option value="shiny.jpg">Shiny</option>
        <option value="stony.jpg">Stony</option>
        <option value="rental.jpg">Rental</option>
        <option value="rental2.jpg">Rental2</option>
    </select>
    <br>
    <input type="submit" value="Add new Listing">
</form>