<h1>
    Homes for Sale:
</h1>
<div class="container">
    <div class="card" ng-repeat="sale in sc.sale" style="width: 18rem;">
        <img class="card-img-top" ng-src="../images/{{sale.image_path}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-cost">Cost: {{sale.cost | currency}}</h5>
            <p class="card-sqft">Sqft: {{sale.sqft | number}}</p>
            <p class="card-city">City: {{sale.city}}</p>
            <p class="card-type">For {{sale.type}}</p>
            <a class="btn btn-danger" ng-click="sc.removeSale(sale.id)">Delete</a>
        </div>
    </div>
</div>